main {
    padding-bottom: 40px;
    .printUpdateGrid {
        padding-top: 13%;
    }
    .alert {
        margin: auto;
        position: absolute;
        top: 110px;
        left: 30px;
    }
    li {
        margin-left: 15px;
    }
}
