main {
  padding-bottom: 40px;
  .printUpdateGrid {
    padding-top: 13%;
  }
  .alert {
    margin: auto;
    position: absolute;
    top: 110px;
    left: 30px;
  }
  .bulletsans {
    margin-left: 15px;
  }
}
