main {
  padding-bottom: 40px;
  .printUpdateGrid {
    padding-top: 13%;
  }
  .alert {
    margin: auto;
    position: absolute;
    top: 110px;
    left: 30px;
  }
  .bulletsans {
    margin-left: 15px;
  }
  .printUpdateGrid {
    margin-top: -50px;
  }
  .valign-center {
    display: flex;
    align-items: center;
    gap: 0rem;
    margin-left: -5px;
  }
  .valign-center mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-cls {
    font-size: 20px;
  }
}
