<div class="col-8 printUpdateGrid">
  <button
    type="button"
    class="btn btn-primary"
    (click)="startCamera()"
    *ngIf="startCaptureHidden"
  >
    Take a Photo
  </button>
  <video #videoElement autoplay *ngIf="startCapture"></video>
  <div class="d-flex">
    <button
      type="button"
      class="btn btn-primary btn-sm me-2"
      (click)="capture()"
      *ngIf="startCapture"
    >
      Save Photo
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm ms-auto"
      (click)="stopCamera()"
      *ngIf="startCapture"
    >
      Close Camera
    </button>
  </div>
  <canvas #canvasElement style="display: none"></canvas>
  <!--<img [src]="capturedImage" *ngIf="capturedImage" />
  <a [href]="capturedImage" download="webcam-image.png" *ngIf="capturedImage">
    Download Image
  </a> -->
</div>
