main {
    padding-bottom: 40px;
    .printUpdateGrid {
        padding-top: 6%;
    }
    .astrk {
        color: rgba($color: #f03535, $alpha: 1);
    }
    .occupationCls {
        size: 25px;
    }
    .alert {
        margin: auto;
        position: absolute;
        top: 110px;
        left: 30px;
    }
}
