main {
  .astrk {
    color: rgba($color: #f03535, $alpha: 1);
  }
  padding-bottom: 40px;
  .tblLabel {
    width: 210px;
    font-weight: 500;
  }
  .tblValue {
    width: 315px;
    font-weight: 220;
  }
}
