<app-header></app-header>
<main>
  <div class="container">
    <!-- Label -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a
            class="link-dark"
            routerLink="/dental-records/dental-chart/intraoral-examination"
            >List of Patients</a
          >
        </li>
        <li class="breadcrumb-item">
          <a
            class="link-dark"
            routerLink="/dental-records/dental-chart/intraoral-examination/add-record/{{
              id
            }}"
            >Intraoral Examination</a
          >
        </li>
        <li
          class="breadcrumb-item active"
          aria-current="page"
          *ngIf="recordAction == 'add-record'; else addTreatmentPlanRecord"
        >
          Add Tooth Condition
        </li>
        <ng-template #addTreatmentPlanRecord>
          <li class="breadcrumb-item active" aria-current="page">
            Add Tooth Condition for Treatment Plan
          </li>
        </ng-template>
      </ol>
    </nav>
    <!-- Complete name -->
    <div class="grid">
      <div class="col text-xl">
        {{
          profileModel?.name?.lastName +
            " " +
            profileModel?.name?.middleName +
            ", " +
            profileModel?.name?.firstName
        }}
      </div>
    </div>
    <!-- Kinds of Teeth, Teeth Position Status, Date Of Procedure, Date Prev and Next -->
    <div class="grid">
      <div class="col-12 -mb-3">
        <div class="row lbltext">
          <!-- Kinds of Teeth -->
          <div class="col-4 col-md-auto">
            {{
              intraoralExaminationResponse?.dentalChartDesignResponse
                ?.kindsOfTeeth
            }}
          </div>
          <div class="col-1 col-md-auto">&#8226;</div>
          <!-- Teeth Position Status -->
          <div class="col-4 col-md-auto">
            {{
              intraoralExaminationResponse?.dentalChartDesignResponse
                ?.teethPositionStatus
            }}
          </div>
          <div class="col-1 col-md-auto">&#8226;</div>
          <!-- Tooth Numbers Edit Collapse -->
          <div class="col-2 col-md-auto">
            <a
              class="link-dark"
              data-bs-toggle="collapse"
              href="#collapseToothNumber"
              >{{ toothNumbersValue + "" }} Edit</a
            >
          </div>
          <div class="col-1 col-md-auto" style="color: rgb(224, 216, 216)">
            |
          </div>
          <!-- Date Of Procedure -->
          <div class="col-5 col-md-auto lbltext">
            <span class="astrk">&ast;</span>Date of Procedure
          </div>
          <!-- Calendar of Date Of Procedure -->
          <div class="col-4 col-md-auto -mt-2">
            <div class="input-group input-group-sm mb-3">
              <input
                type="text"
                class="form-control inputGroupDOP"
                aria-label="Date Of Procedure"
                aria-describedby="dateprocd"
                placeholder="YYYY-MM-DD"
                value="{{
                  intraoralExaminationResponse?.dateOfProcedure
                    | date: 'yyyy-MM-dd'
                }}"
                [matDatepicker]="picker"
                (dateChange)="onChangeDateOfProcedure($event)"
                min="1990-01-01"
                max="{{ currentDate | date: 'yyyy-MM-dd' }}"
                [ngClass]="{
                  'is-invalid': submitted && f['dateOfProcedure'].errors,
                }"
                readonly
              />
              <button
                class="btn btn-outline-secondary"
                id="dateprocd"
                (click)="picker.open()"
                type="button"
              >
                <!-- <span class="material-symbols-outlined">
                                    event
                                    </span> -->
                <span class="material-icons md-24">calendar_month</span>
              </button>
            </div>
            <mat-datepicker #picker></mat-datepicker>

            <!-- <input
                            type="date"
                            class="form-control form-control-sm mt-1"
                            name="dateOfProcedure"
                            min="1990-01-01"
                            max="{{ currentDate | date : 'yyyy-MM-dd' }}"
                            [matDatepicker]="picker"
                            (change)="onChangeDateOfProcedure($event)"
                            value="{{ intraoralExaminationResponse?.dateOfProcedure | date : 'yyyy-MM-dd' }}"
                            [ngClass]="{
                                'is-invalid': submitted && f['dateOfProcedure'].errors
                            }"
                        /> -->

            <div
              *ngIf="submitted && f['dateOfProcedure'].errors"
              class="form-check"
            >
              <div
                *ngIf="f['dateOfProcedure'].errors['required']"
                class="invalid-feedback-data"
              >
                Date of procedure is required
              </div>
            </div>
          </div>
          <div class="col-1 col-md-auto" style="color: rgb(224, 216, 216)">
            |
          </div>
          <!-- Date Prev and Next -->
          <div class="col-5 col-md-auto lbltext">
            <a
              class="link-dark"
              href="/dental-records/dental-chart/intraoral-examination/add-record/{{
                id
              }}/update-tooth-condition/{{ previousToothNumber }}"
              *ngIf="recordAction == 'add-record'; else prevTreatmentPlanRecord"
            >
              {{
                previousToothNumber
                  ? "< Previous Tooth - " + previousToothNumber
                  : ""
              }}
            </a>
            <ng-template #prevTreatmentPlanRecord>
              <a
                class="link-dark"
                href="/dental-records/dental-chart/intraoral-examination/add-treatmentplan-record/{{
                  id
                }}/update-tooth-condition/{{ previousToothNumber }}"
              >
                {{
                  previousToothNumber
                    ? "< Previous Tooth - " + previousToothNumber
                    : ""
                }}
              </a>
            </ng-template>
            <span style="color: rgb(224, 216, 216)"
              >&nbsp;{{
                previousToothNumber && nextToothNumber ? " | " : ""
              }}&nbsp;</span
            >
            <a
              class="link-dark"
              href="/dental-records/dental-chart/intraoral-examination/add-record/{{
                id
              }}/update-tooth-condition/{{ nextToothNumber }}"
              *ngIf="recordAction == 'add-record'; else nextTreatmentPlanRecord"
            >
              {{
                nextToothNumber ? "Next Tooth - " + nextToothNumber + " > " : ""
              }}
            </a>
            <ng-template #nextTreatmentPlanRecord>
              <a
                class="link-dark"
                href="/dental-records/dental-chart/intraoral-examination/add-treatmentplan-record/{{
                  id
                }}/update-tooth-condition/{{ nextToothNumber }}"
              >
                {{
                  nextToothNumber
                    ? "Next Tooth - " + nextToothNumber + " > "
                    : ""
                }}
              </a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- Collapse Tooth Numbers -->
    <div class="grid collapse hide" id="collapseToothNumber">
      <div class="col-11 col-offset-1">
        <div class="row">
          <div class="col-md-3 fw-light">
            <span class="fw-bold">Deciduous Teeth Maxillary</span>
            <div class="row">
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsTempRightTop;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input change-bg-color"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template></label
                  >
                </div>
              </div>
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsTempLeftTop;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                    [disabled]="toothNumberValue?.disableCheckboxes"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template></label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 fw-light">
            <span class="fw-bold">Deciduous Teeth Mandibular</span>
            <div class="row">
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsTempRightBottom;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                    [disabled]="toothNumberValue?.disableCheckboxes"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template>
                  </label>
                </div>
              </div>
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsTempLeftBottom;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                    [disabled]="toothNumberValue?.disableCheckboxes"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template></label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 fw-light">
            <span class="fw-bold">Permanent Teeth Maxillary</span>
            <div class="row">
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsPermaRightTopCenter;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                    [disabled]="toothNumberValue?.disableCheckboxes"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template></label
                  >
                </div>
              </div>
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsPermaLeftTopCenter;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                    [disabled]="toothNumberValue?.disableCheckboxes"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template></label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 fw-light">
            <span class="fw-bold">Permanent Teeth Mandibular</span>
            <div class="row">
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsPermaRightBottomCenter;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                    [disabled]="toothNumberValue?.disableCheckboxes"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template></label
                  >
                </div>
              </div>
              <div class="col-md-5 form-check">
                <div
                  *ngFor="
                    let toothNumberValue of toothDetailsPermaLeftBottomCenter;
                    let i = index
                  "
                >
                  <input
                    *ngIf="
                      !toothNumberValue?.disableCheckboxes;
                      else disabledBox
                    "
                    [checked]="toothNumberValue?.checked"
                    value="{{
                      toothNumberValue?.value + '-' + toothNumberValue?.label
                    }}"
                    id="{{ toothNumberValue?.inputId }}"
                    class="form-check-input"
                    name="{{ toothNumberValue?.formControlName }}"
                    type="checkbox"
                    (change)="onCheckboxChangeToothNumbers($event)"
                    [disabled]="toothNumberValue?.disableCheckboxes"
                  />
                  <ng-template #disabledBox>
                    <input
                      [checked]="toothNumberValue?.checked"
                      value="{{
                        toothNumberValue?.value + '-' + toothNumberValue?.label
                      }}"
                      id="{{ toothNumberValue?.inputId }}"
                      class="form-check-input"
                      name="{{ toothNumberValue?.formControlName }}"
                      type="checkbox"
                      style="
                        border-color: rgb(104, 105, 104);
                        background-color: rgba(155, 156, 154, 0.712);
                      "
                      (change)="onCheckboxChangeToothNumbers($event)"
                      [disabled]="toothNumberValue?.disableCheckboxes"
                    />
                  </ng-template>
                  <label>
                    -
                    <span
                      *ngIf="toothNumberValue?.disableCheckboxes; else noStrike"
                      class="text-decoration-line-through"
                    >
                      {{ toothNumberValue.label }}
                    </span>
                    <ng-template #noStrike>
                      {{ toothNumberValue.label }}
                    </ng-template></label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-12"><hr /></div>
    </div>
    <!-- Form Start -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="col-12">
          <div class="row">
            <!-- Conditions -->
            <div class="col-md-3 fw-light">
              <span class="fw-bold">Condition</span>
              <div formGroupName="conditionProcedureGroupings">
                <div
                  class="form-check"
                  *ngFor="
                    let conditions of getFormConditions.controls;
                    let i = index
                  "
                  formArrayName="conditions"
                >
                  <div formGroupName="{{ i }}">
                    <input
                      [checked]="getFormConditions.controls[i].value.checked"
                      value="{{ getFormConditions.controls[i].value.value }}"
                      id="{{
                        getFormConditions.controls[i].value.inputId
                          ? getFormConditions.controls[i].value.inputId
                          : 'conditionId' + i
                      }}"
                      class="form-check-input"
                      name="{{
                        getFormConditions.controls[i].value.fcname
                          ? getFormConditions.controls[i].value.fcname
                          : 'fcConditionname' + i
                      }}"
                      type="checkbox"
                      (change)="onCheckboxChangeConditions($event, false)"
                    />
                    <label
                      ><span
                        class="fw-bold"
                        [innerHtml]="
                          getFormConditions.controls[i].value.label.split(
                            '-'
                          )[0]
                        "
                      ></span>
                      -
                      {{
                        getFormConditions.controls[i].value.label.split("-")[1]
                      }}</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- Restorations -->
            <div class="col-md-4 fw-light">
              <span class="fw-bold restoration-surface-color"
                >Restorations</span
              >
              <div formGroupName="conditionProcedureGroupings">
                <div
                  class="form-check"
                  *ngFor="
                    let conditions of getFormRestorations.controls;
                    let i = index
                  "
                  formArrayName="restorations"
                >
                  <div formGroupName="{{ i }}">
                    <input
                      [checked]="getFormRestorations.controls[i].value.checked"
                      value="{{ getFormRestorations.controls[i].value.value }}"
                      id="{{ getFormRestorations.controls[i].value.inputId }}"
                      class="form-check-input"
                      name="{{ getFormRestorations.controls[i].value.fcname }}"
                      type="checkbox"
                      (change)="onCheckboxChangeRestorations($event, false)"
                    />
                    <label
                      ><span class="fw-bold">{{
                        getFormRestorations.controls[i].value.label.split(
                          "-"
                        )[0]
                      }}</span>
                      -
                      {{
                        getFormRestorations.controls[i].value.label.split(
                          "-"
                        )[1]
                      }}</label
                    >
                  </div>
                </div>
              </div>
              <!-- Root Canal Treatment Note-->
              <div class="row ms-2">
                <label
                  for="conditionProcedureGroupings.conditionProcedureSurfaceRemarksResponse.rootCanalTreatmentNote"
                  class="col-sm-2 col-form-label col-form-label-sm"
                  >Note</label
                >
                <div class="col-sm-8">
                  <div formGroupName="conditionProcedureGroupings">
                    <div
                      class="form-group"
                      formGroupName="conditionProcedureSurfaceRemarksResponse"
                    >
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="rootCanalTreatmentNote"
                        name="rootCanalTreatmentNote"
                        placeholder="Add note for RCT here..."
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Inlay  -->
              <div class="form-check">
                <label class="form-check-label" for="flexCheckinlay">
                  <span class="fw-bold">In</span> - Inlay
                </label>
                <br />
                <div formGroupName="conditionProcedureGroupings">
                  <div
                    class="form-check form-check-inline"
                    *ngFor="
                      let conditions of getFormRestorationsInlay.controls;
                      let i = index
                    "
                    formArrayName="restorationsInlay"
                  >
                    <div formGroupName="{{ i }}">
                      <input
                        [checked]="
                          getFormRestorationsInlay.controls[i].value.checked
                        "
                        value="{{
                          getFormRestorationsInlay.controls[i].value.value
                        }}"
                        id="{{
                          getFormRestorationsInlay.controls[i].value.inputId
                        }}"
                        class="form-check-input"
                        name="{{
                          getFormRestorationsInlay.controls[i].value.fcname
                        }}"
                        type="checkbox"
                        (change)="
                          onCheckboxChangeRestorationsInlay($event, false)
                        "
                      />
                      <label>
                        {{
                          getFormRestorationsInlay.controls[i].value.name
                        }}</label
                      >
                    </div>
                  </div>
                </div>
                <!-- Inlay Other -->
                <div class="row mb-2">
                  <label
                    for="colFormLabelSm"
                    class="col-sm-2 col-form-label col-form-label-sm"
                    >Other</label
                  >
                  <div class="col-sm-8">
                    <div formGroupName="conditionProcedureGroupings">
                      <div
                        class="form-group"
                        formGroupName="conditionProcedureSurfaceRemarksResponse"
                      >
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="restorationInlayOther"
                          name="restorationInlayOther"
                          placeholder="Add other Inlay here..."
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Inlay Note -->
                <div class="row mb-2">
                  <label
                    for="colFormLabelSm"
                    class="col-sm-2 col-form-label col-form-label-sm"
                    >Note</label
                  >
                  <div class="col-sm-8">
                    <div formGroupName="conditionProcedureGroupings">
                      <div
                        class="form-group"
                        formGroupName="conditionProcedureSurfaceRemarksResponse"
                      >
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="restorationInlayNote"
                          name="restorationInlayNote"
                          placeholder="Add note for Inlay here..."
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Onlay -->
              <div class="form-check">
                <label class="form-check-label">
                  <span class="fw-bold">On</span> - Onlay
                </label>
                <br />
                <div formGroupName="conditionProcedureGroupings">
                  <div
                    class="form-check form-check-inline"
                    *ngFor="
                      let conditions of getFormRestorationsOnlay.controls;
                      let i = index
                    "
                    formArrayName="restorationsOnlay"
                  >
                    <div formGroupName="{{ i }}">
                      <input
                        [checked]="
                          getFormRestorationsOnlay.controls[i].value.checked
                        "
                        value="{{
                          getFormRestorationsOnlay.controls[i].value.value
                        }}"
                        id="{{
                          getFormRestorationsOnlay.controls[i].value.inputId
                        }}"
                        class="form-check-input"
                        name="{{
                          getFormRestorationsOnlay.controls[i].value.fcname
                        }}"
                        type="checkbox"
                        (change)="
                          onCheckboxChangeRestorationsOnlay($event, false)
                        "
                      />
                      <label>
                        {{
                          getFormRestorationsOnlay.controls[i].value.name
                        }}</label
                      >
                    </div>
                  </div>
                </div>
                <!-- Onlay Other -->
                <div class="row mb-2">
                  <label
                    for="colFormLabelSm"
                    class="col-sm-2 col-form-label col-form-label-sm"
                    >Other</label
                  >
                  <div class="col-sm-8">
                    <div formGroupName="conditionProcedureGroupings">
                      <div
                        class="form-group"
                        formGroupName="conditionProcedureSurfaceRemarksResponse"
                      >
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="restorationOnlayOther"
                          name="restorationOnlayOther"
                          placeholder="Add other Onlay here..."
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Onlay Note -->
                <div class="row mb-2">
                  <label
                    for="colFormLabelSm"
                    class="col-sm-2 col-form-label col-form-label-sm"
                    >Note</label
                  >
                  <div class="col-sm-8">
                    <div formGroupName="conditionProcedureGroupings">
                      <div
                        class="form-group"
                        formGroupName="conditionProcedureSurfaceRemarksResponse"
                      >
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="restorationOnlayNote"
                          name="restorationOnlayNote"
                          placeholder="Add note for Onlay here..."
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Prosthetics -->
            <div class="col-md-2 fw-light">
              <span class="fw-bold prosthetics-color">Prosthetics</span>
              <div formGroupName="conditionProcedureGroupings">
                <div
                  class="form-check"
                  *ngFor="
                    let prosthetics of getFormProsthetics.controls;
                    let i = index
                  "
                  formArrayName="prosthetics"
                >
                  <div formGroupName="{{ i }}">
                    <input
                      [checked]="getFormProsthetics.controls[i].value.checked"
                      value="{{ getFormProsthetics.controls[i].value.value }}"
                      id="{{ getFormProsthetics.controls[i].value.inputId }}"
                      class="form-check-input"
                      name="{{ getFormProsthetics.controls[i].value.fcname }}"
                      type="checkbox"
                      (change)="onCheckboxChangeProsthetics($event, false)"
                    />
                    <label
                      ><span
                        class="fw-bold"
                        [innerHtml]="
                          getFormProsthetics.controls[i].value.label.split(
                            '-'
                          )[0]
                        "
                      ></span>
                      -
                      {{
                        getFormProsthetics.controls[i].value.label.split("-")[1]
                      }}</label
                    >
                  </div>
                </div>
              </div>
              <!-- Prosthetics Note -->
              <div class="row mb-2">
                <label
                  for="colFormLabelSm"
                  class="col-sm-2 col-form-label col-form-label-sm"
                  >Note</label
                >
                <div class="col-sm-10">
                  <div formGroupName="conditionProcedureGroupings">
                    <div
                      class="form-group"
                      formGroupName="conditionProcedureSurfaceRemarksResponse"
                    >
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="prostheticsNote"
                        name="prostheticsNote"
                        placeholder="Add note Pros. here..."
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Denture, Periodontal, Surgery -->
            <div class="col-md-3 fw-light">
              <!-- Denture -->
              <span class="fw-bold denture-color">Denture</span>
              <!-- <div formGroupName="conditionProcedureSurfaceRemarksResponse"> -->
              <div formGroupName="conditionProcedureGroupings">
                <div
                  *ngFor="let denture of getFormDenture.controls; let i = index"
                  formArrayName="denture"
                >
                  <div formGroupName="{{ i }}">
                    <div class="form-check">
                      <input
                        [checked]="getFormDenture.controls[i].value.checked"
                        value="{{ getFormDenture.controls[i].value.value }}"
                        id="{{ getFormDenture.controls[i].value.inputId }}"
                        class="form-check-input"
                        name="{{ getFormDenture.controls[i].value.fcname }}"
                        type="checkbox"
                        (change)="onCheckboxChangeDenture($event, false)"
                      />
                      <label
                        ><span
                          class="fw-bold"
                          [innerHtml]="
                            getFormDenture.controls[i].value.label.split('-')[0]
                          "
                        ></span>
                        -
                        {{
                          getFormDenture.controls[i].value.label.split("-")[1]
                        }}</label
                      >
                    </div>
                    <!-- Denture Note -->
                    <div class="row mb-2">
                      <label
                        for="colFormLabelSm{{ i }}"
                        class="col-sm-2 col-form-label col-form-label-sm"
                        >Note</label
                      >
                      <div class="col-sm-8">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          id="colFormLabelSm{{ i }}"
                          name="dentureNote{{ i }}"
                          (input)="onDentureNoteInput($event, i)"
                          [value]="getFormDenture.controls[i].value.noteValue"
                          placeholder="Add note here..."
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <!-- Periodontal -->
              <span class="fw-bold periodontal-color">Periodontal</span>
              <div formGroupName="conditionProcedureGroupings">
                <div
                  class="form-check"
                  *ngFor="
                    let periodontal of getFormPeriodontal.controls;
                    let i = index
                  "
                  formArrayName="periodontal"
                >
                  <div formGroupName="{{ i }}">
                    <input
                      [checked]="getFormPeriodontal.controls[i].value.checked"
                      value="{{ getFormPeriodontal.controls[i].value.value }}"
                      id="{{ getFormPeriodontal.controls[i].value.inputId }}"
                      class="form-check-input"
                      name="{{ getFormPeriodontal.controls[i].value.fcname }}"
                      type="checkbox"
                      (change)="onCheckboxChangePeriodontal($event, false)"
                    />
                    <label
                      ><span
                        class="fw-bold"
                        [innerHtml]="
                          getFormPeriodontal.controls[i].value.label.split(
                            '-'
                          )[0]
                        "
                      ></span>
                      -
                      {{
                        getFormPeriodontal.controls[i].value.label.split("-")[1]
                      }}</label
                    >
                  </div>
                </div>
              </div>
              <!-- Fluoride Application -->
              <div class="form-check">
                <label class="form-check-label" for="flexCheckijmplt">
                  <span class="fw-bold">FL</span> - Fluoride Application
                </label>
                <br />
                <div formGroupName="conditionProcedureGroupings">
                  <div
                    class="form-check form-check-inline"
                    *ngFor="
                      let conditions of getFormPeriodontalFluoride.controls;
                      let i = index
                    "
                    formArrayName="periodontalFluoride"
                  >
                    <div formGroupName="{{ i }}">
                      <input
                        [checked]="
                          getFormPeriodontalFluoride.controls[i].value.checked
                        "
                        value="{{
                          getFormPeriodontalFluoride.controls[i].value.value
                        }}"
                        id="{{
                          getFormPeriodontalFluoride.controls[i].value.inputId
                        }}"
                        class="form-check-input"
                        name="{{
                          getFormPeriodontalFluoride.controls[i].value.fcname
                        }}"
                        type="checkbox"
                        (change)="
                          onCheckboxChangePeriodontalFluoride($event, false)
                        "
                      />
                      <label>
                        {{
                          getFormPeriodontalFluoride.controls[i].value.name
                        }}</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-100 d-none d-md-block"></div>
              <!-- Surgery -->
              <span class="fw-bold surgery-color">Surgery</span>
              <div formGroupName="conditionProcedureGroupings">
                <div
                  class="form-check"
                  *ngFor="let surgery of getFormSurgery.controls; let i = index"
                  formArrayName="surgery"
                >
                  <div formGroupName="{{ i }}">
                    <input
                      [checked]="getFormSurgery.controls[i].value.checked"
                      value="{{ getFormSurgery.controls[i].value.value }}"
                      id="{{ getFormSurgery.controls[i].value.inputId }}"
                      class="form-check-input"
                      name="{{ getFormSurgery.controls[i].value.fcname }}"
                      type="checkbox"
                      (change)="onCheckboxChangeSurgery($event, false)"
                    />
                    <label
                      ><span
                        class="fw-bold"
                        [innerHtml]="
                          getFormSurgery.controls[i].value.label.split('-')[0]
                        "
                      ></span>
                      -
                      {{
                        getFormSurgery.controls[i].value.label.split("-")[1]
                      }}</label
                    >
                  </div>
                </div>
              </div>
              <!-- Surgery Reason -->
              <div class="row mb-2">
                <label
                  for="colFormLabelSm"
                  class="col-sm-2 col-form-label col-form-label-sm"
                  >Reason</label
                >
                <div class="col-sm-8">
                  <div formGroupName="conditionProcedureGroupings">
                    <div
                      class="form-group"
                      formGroupName="conditionProcedureSurfaceRemarksResponse"
                    >
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="surgeryReason"
                        name="surgeryReason"
                        placeholder="Add reason for surgery here..."
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <div class="row"><hr /></div>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-auto">
              <span class="fw-bold restoration-surface-color"
                >Tooth Surface</span
              >
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-auto">
              <div formArrayName="surfaceCheckResponses">
                <div
                  class="form-check form-check-inline"
                  *ngFor="
                    let surfaceCheckResponse of getFormSurfaceCheck.controls;
                    index as i
                  "
                >
                  <div [formGroupName]="i">
                    <input
                      [checked]="getFormSurfaceCheck.controls[i].value.checked"
                      value="{{ getFormSurfaceCheck.controls[i].value.value }}"
                      id="{{ getFormSurfaceCheck.controls[i].value.id }}"
                      class="form-check-input"
                      type="checkbox"
                      (change)="onCheckboxChangeSurfaceCheck($event, false)"
                    />
                    <label>{{
                      getFormSurfaceCheck.controls[i].value.name
                    }}</label>
                  </div>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="checkboxAllId"
                    (change)="onCheckboxAllChangeSurfaceCheck($event, false)"
                  />
                  <label class="form-check-label" for="inlineCheckbox6"
                    >ALL</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1 col-md-auto">
              <label
                for="colFormLabelSm"
                class="col-sm-2 col-form-label col-form-label-sm -mt-1"
                >Note</label
              >
            </div>
            <div class="col-11 col-md-3">
              <div formGroupName="conditionProcedureGroupings">
                <div
                  class="form-group"
                  formGroupName="conditionProcedureSurfaceRemarksResponse"
                >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="toothSurfaceNote"
                    name="toothSurfaceNote"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="col"><hr /></div>
      </div>
      <div class="grid justify-content-center">
        <div class="col-3">
          <div class="form-check form-check-inline">
            <input
              value="yes"
              id="historyTrackingProcedureId"
              class="form-check-input"
              type="checkbox"
              (change)="onCheckboxTrackHistory($event)"
              [checked]="isTrackHistory"
            />
            <label>Update history for dental chart tracking?</label>
          </div>
        </div>
      </div>
      <div class="grid justify-content-center">
        <div class="col-3">
          <hr />
        </div>
      </div>
      <div class="grid justify-content-center mb-6">
        <!-- <div class="col-2 text-lg"></div> -->
        <div class="col-2">
          <label for="saveallnowid">Are you done? &nbsp; &nbsp;</label>
          <button
            *ngIf="newDataToInsert; else viewUpdate"
            type="submit"
            id="saveallnowid"
            class="btn btn-outline-primary btn-sm -mt-1"
          >
            Save All
          </button>
          <ng-template #viewUpdate>
            <button
              type="submit"
              id="saveallnowid"
              class="btn btn-outline-primary btn-sm -mt-1"
            >
              Update All
            </button>
          </ng-template>
        </div>
      </div>
    </form>
    <!-- All Teeth Present Modal -->
    <div
      class="modal"
      id="opModalToggle"
      tabindex="-1"
      aria-labelledby="opModalToggleLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title lbltext" id="opModalToggleLabel">
              Do you want to add All Teeth Present?
            </p>
            <button
              type="button"
              class="btn-close btn-sm"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-1">Note:</div>
                <div class="col-md-10 text-center">
                  This action will <span class="fw-bold">Add</span> all teeth
                  below: <br />
                  <span
                    class="fst-italic text-decoration-underline"
                    *ngFor="let tooth of displayToothNumers; let last = last"
                  >
                    {{ tooth }}<span *ngIf="!last">, </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm me-3"
                (click)="opAllTeethPresent()"
                data-bs-dismiss="modal"
              >
                Yes, I'm sure
              </button>
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                data-bs-dismiss="modal"
              >
                No, just add to {{ teethNumbering }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
