main {
  .astrk {
    color: rgba($color: #f03535, $alpha: 1);
  }
  padding-bottom: 40px;
  .tblLabel {
    width: 180px;
    font-weight: 500;
  }
  .tblValue {
    width: 315px;
    font-weight: 220;
  }
  .colSpceOrdering {
    width: 25px;
  }
  .colSpceActions {
    width: 110px;
  }
  .lblHistory {
    color: aliceblue;
    text-decoration: none;
    font-weight: 150;
    cursor: pointer;
  }
}
