main {
  .astrk {
    color: rgba($color: #f03535, $alpha: 1);
  }
  padding-bottom: 40px;
  .tblLabel {
    font-weight: 500;
  }
  .tblValue {
    font-weight: 220;
  }
  .colSpce {
    width: 25px;
  }
  .tblReasonValue {
    width: 425px;
  }
}
